{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Chapitres</h1>
    <ul>
        {% for chapter in chapters %}
            <li><a href="/chapters/show_admin?id={{ chapter.id }}">{{ chapter.id }}. {{ chapter.name }}</a></li>
        {% else %}
            <li>Aucun chapitre pour le moment</li>
        {% endfor %}
    </ul>
    {# <a href="/items/add">Ajouter</a> #}
{% endblock %}
